---
import Navlink from "./ui/links/Navlinks.astro";
import BrandLogo from "@components/BrandLogo.astro";
import Sstrings from "@utils/Navigation.ts"

const homeUrl = "/";
const strings = Sstrings;
---

<header class="fixed inset-0 z-50 bg-transparent text-sm dark:bg-neutral-800">
  <nav class="relative max-w-[85rem] mx-auto px-4 flex justify-between items-center h-16">
    <!-- Brand Logo -->
    <a
      href={homeUrl}
      aria-label="Brand"
      class="flex-none text-xl font-semibold dark:text-white focus:outline-none focus:opacity-80"
    >
      <BrandLogo />
    </a>

    <!-- Toggle Button -->
    <button
      type="button"
      class="hs-collapse-toggle relative size-10 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10"
      id="hs-navbar-example-collapse"
      aria-expanded="false"
      aria-controls="hs-navbar-example"
      aria-label="Toggle navigation"
      data-hs-collapse="#hs-navbar-example"
    >
      <svg
        class="hs-collapse-open:hidden shrink-0 size-4 animate-impulse-rotation-left"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" x2="21" y1="6" y2="6" />
        <line x1="3" x2="21" y1="12" y2="12" />
        <line x1="3" x2="21" y1="18" y2="18" />
      </svg>
      <svg
        class="hs-collapse-open:block hidden shrink-0 size-4 animate-impulse-rotation-right "
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
      <span class="sr-only">Toggle navigation</span>
    </button>

    <!-- Off-Canvas Menu -->
    <div
      id="hs-navbar-example"
      class="fixed inset-y-0 left-0 hidden hs-collapse bg-white text-white w-64 p-6 overflow-y-auto animate-swing-drop-in"
      aria-labelledby="hs-navbar-example-collapse"
    >
  <ul class="flex flex-col items-center justify-center space-y-4 ">
   
    {strings.navBarLinks.map(link => (
      <Navlink url={link.url} name={link.name} />
    ))}
    
     </ul>
    </div>
  </nav>
</header>

<script>
  import "@preline/collapse/index.js";
  import "@preline/overlay/index.js";
</script>