---
---

<div>
    <section id="sec1" class="flex w-full h-[500px] bg-[url('/src/images/cafe.jpg')] bg-cover bg-center"></section>
    <section id="sec2" class="flex w-full h-[500px] bg-[url('/src/images/cafe.jpg')] bg-cover bg-center"></section>
    <section id="sec3" class="flex w-full h-[500px] bg-[url('/src/images/cafe.jpg')] bg-cover bg-center"></section>
    <section id="sec4" class="flex w-full h-full bg-[url('/src/images/cafe.jpg')] bg-cover bg-center"></section>
    <section id="sec5" class="flex w-full h-[500px] bg-[url('/src/images/cafe.jpg')] bg-cover bg-center"></section>
</div>