---

---
<div>
<section class=" snap-start scroll-smooth snap-y snap-mandatory w-full h-screen bg-[url('/src/images/cafe.jpg')] bg-cover bg-center">
  <h1>uno</h1>
</section>
<section class="snap-start scroll-smooth snap-y snap-mandatory w-full h-screen bg-red-400">
    <h1>dos</h1>
</section>
<section class="snap-start snap-y snap-mandatory w-full h-screen bg-orange-500">
    <h1>tres</h1>
</section>
<section class="snap-start snap-y snap-mandatory w-full h-screen bg-purple-500">
    <h1>cuatro</h1>
</section>
<section id="last" class="snap-start snap-y snap-mandatory w-full h-screen bg-green-400">
    <h1>cinco</h1>
</section>
</div>

  <style>
    * {
  box-sizing: border-box;
}
html {
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
 </style>

  <script>
var x;
var div = document.getElementById("last");
  
  var scrollDown = setInterval(function () {
  
    window.scrollBy({ 
    top: x,
    left: 0, 
    behavior: 'smooth'
  });
    
    if(window.pageYOffset == 0){
      x = div.clientHeight;
      
    } else if(window.pageYOffset == div.offsetTop){
      x = -div.clientHeight;
    }
}, 3000) 

  </script>